stages:
  - build
  - validate
  - release

variables:
  SKIP_INTEGRATION_TESTS: 'false'
  MAVEN_EXTRA_ARGS: '-Dinteg.http.eshost=elasticsearch'

.setup:
  script:
    - !reference [ .elasticsearch, script ]

.build:
  services:
    - !reference [ .elasticsearch, services]

trigger_api:
  extends: .trigger_down_stream
  trigger:
    project: npo/api
    branch: master


trigger_npo_publish:
  extends: .trigger_down_stream
  trigger:
    project: npo/npo-publish
    branch: master

trigger_pages_publish:
  extends: .trigger_down_stream
  trigger:
    project: npo/pages-publish
    branch: master


include:
  - project: 'shared/gitlab/gitlab-templates'
    ref: 'tags/1.14'
    file: 'java_maven.yml'
  - project: 'shared/gitlab/gitlab-templates'
    ref: 'tags/1.14'
    file: 'maven_release.yml'
