---
stages:
  - build
  - validate
  - release

.build:
  services:
    - !reference [.opensearch, services]
  before_script:
    - !reference [.opensearch, script]
  variables:
    MAVEN_EXTRA_ARGS: '-Dinteg.http.eshost=opensearch'

trigger_api:
  extends: .trigger_down_stream
  trigger:
    project: npo/api
    branch: master

trigger_npo_publish:
  extends: .trigger_down_stream
  trigger:
    project: npo/npo-publish
    branch: master

trigger_pages_publish:
  extends: .trigger_down_stream
  trigger:
    project: npo/pages-publish
    branch: master

include:
  - project: 'shared/gitlab/gitlab-templates'
    ref: 'tags/4.6'
    file: 'maven_release.yml'
  - project: 'shared/gitlab/gitlab-templates'
    ref: 'tags/4.6'
    file: 'util/elasticsearch_service.yml'
