---
variables:
  ES_IMAGE_NAME: poms-plus/es-builder-2
  REGISTRY: openshift-image-registry.apps.cluster.chp4.io
  INTERNAL_REGISTRY: image-registry.openshift-image-registry.svc:5000


.maven:
  services:
    - !reference [.opensearch, services]
  before_script:
    - !reference [.opensearch, script]
  variables:
    MAVEN_EXTRA_ARGS: '-Dinteg.http.eshost=opensearch'

trigger_api:
  extends: .trigger_down_stream
  trigger:
    project: npo/api
    branch: main

trigger_npo_publish:
  extends: .trigger_down_stream
  trigger:
    project: npo/npo-publish
    branch: main

trigger_pages_publish:
  extends: .trigger_down_stream
  trigger:
    project: npo/pages-publish
    branch: main


build_es_image:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [ "" ]
  variables:
    IMAGE_NAME: $ES_IMAGE_NAME
  stage: build
  needs: [build]
  tags:
    - docker
  script:
    - setup_kaniko
    - echo pom version $POM_VERSION
    - kaniko_execute push-es-mappings $POM_VERSION
    - store_image_version
  rules: !reference [.rules, publish] # For packaging the same rules apply as for building. (just the build _itself_ needs to be successful then)


.push_es: &push_es
  stage: release
  image: docker.vpro.nl/vpro/openshift-helm:2.0.0
  needs: [build_es_image]
  script:
    - oc login --server=$OPENSHIFT_SERVER --token=$OPENSHIFT_TOKEN -n poms-util-$OS_ENV
    - oc -n poms-util-$OS_ENV delete pod es-builder || echo 'No previous es-builder instance found'
    - export PASSWORD="$(oc -n poms-stack-$OS_ENV get secret elasticsearch -o jsonpath="{['data']['password']}" | base64 --decode)"
    - echo $PASSWORD | sha256sum
    - |-
      oc run es-builder \
            --image=$INTERNAL_REGISTRY/$ES_IMAGE_NAME:dev \
            --image-pull-policy='Always' \
            --restart='Never' \
            --env HOST="$HOST" \
            --env USER="$USER" \
            --env PASSWORD="$PASSWORD" \
            --env CLUSTER="$CLUSTER" \
            --env EXPERIMENTAL="$EXPERIMENTAL" \
            -n poms-util-$OS_ENV


push-mappings-test:
  <<: *push_es
  variables:
    OS_ENV: test
    HOST: https://vpc-poms-plus-elasticsearch-test-tu2husqhnj43tmsqnj2fvpi2hy.eu-central-1.es.amazonaws.com:443
    USER: elasticsearch
    CLUSTER: 755036500103:poms-plus-elasticsearch-test
    EXPERIMENTAL: 'true'
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH  # only publish main branches
      when: on_success
    - if: $CI_COMMIT_REF_NAME =~ $release_tag_pattern
      when: manual


push-mappings-acc:
  <<: *push_es
  variables:
    OS_ENV: acc
    HOST: https://vpc-poms-plus-elasticsearch-acc-bk5ui3ubahkwhmygv7h7nqbti4.eu-central-1.es.amazonaws.com:443
    USER: elasticsearch
    CLUSTER: 755036500103:poms-plus-elasticsearch-acc
    EXPERIMENTAL: 'true'
  rules:
    - if: $CI_COMMIT_REF_NAME =~ $release_branch_pattern
      when: manual
    - if: $CI_COMMIT_REF_NAME =~ $release_tag_pattern
      when: manual

publish-mappings-prod:
  <<: *push_es
  variables:
    OS_ENV: prod
    HOST: https://vpc-poms-plus-elasticsearch-prod-syxdj6ehquy6ruls6f6zdccxyq.eu-central-1.es.amazonaws.com:443
    USER: elasticsearch
    CLUSTER: 755036500103:poms-plus-elasticsearch-prod
  rules:
    - if: $CI_COMMIT_REF_NAME =~ $release_tag_pattern
      when: manual


include:
  - project: 'shared/gitlab/gitlab-templates'
    ref: 'tags/7.8'
    file: 'maven_release.yml'
  - project: 'shared/gitlab/gitlab-templates'
    ref: 'tags/7.8'
    file: 'util/elasticsearch_service.yml'
  - project: 'shared/gitlab/gitlab-templates'
    ref: 'tags/7.8'
    file: 'util/kaniko.yml'
