stages:
  - develop
  - integrate
  - validate
  - branch
  - release

include:
  - project: 'shared/gitlab/gitlab-templates'
    ref: 'tags/1.0'
    file: 'java_maven.yml'
  - project: 'shared/gitlab/gitlab-templates'
    ref: 'tags/1.0'
    file: 'maven_release.yml'
