stages:
  - develop
  - integrate
  - validate
  - branch
  - release

variables:
  SKIP_IT_TESTS: 'false'
  ELASTICSEARCH_HOST: 'elasticsearch'
  ELASTICSEARCH_CHECK: 'true'

.build:
  services:
    - name: docker.vpro.nl/vpro-elasticsearch:1.0
      alias: elasticsearch # Alias is also the hostname (i.e. http://elasticsearch:9200)
      command: [ "bin/elasticsearch", "-Ediscovery.type=single-node" ]

include:
  - project: 'shared/gitlab/gitlab-templates'
    ref: 'feature/SYS-955-extra-ES-container-in-builds' # change order
    file: 'java_maven.yml'
  - project: 'shared/gitlab/gitlab-templates'
    ref: 'tags/1.0'
    file: 'maven_release.yml'
