<?xml version="1.0" ?>
<Configuration status="INFO">

  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} %C %M.%L %4.4p  %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <Appender-Ref ref="stdout" />
    </Root>

  </Loggers>
</Configuration>
