---
name: build
on:
  push:
    branches: [ "main", "REL-*" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:dind
    permissions:
      contents: read
      packages: write
      checks: write
      pull-requests: write
      actions: write # needed for cancel-workflow
    env:
      MAVEN_ARGS: '--no-transfer-progress'
    steps:
    - name: Cancel previous Action
      uses: styfle/cancel-workflow-action@0.12.1
      continue-on-error: true # for act
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -U -B -Pgithub deploy
      env:
        GITHUB_USERNAME: ${{ github.actor }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2.18.0
      if: always()
      with:
        files: "**/target/surefire-reports/*.xml"

    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
#    - name: Update dependency graph
 #     uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
