---
name: build
on:
  push:
    branches: [ "main", "REL-*" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:dind
    permissions:
      contents: read
      packages: write
      checks: write
      pull-requests: write
    env:
      MAVEN_ARGS: '--no-transfer-progress'
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: maven
    - name: check docker
      run: |
        apt-get update && apt-get install -y docker.io
        docker info
    - name: Build with Maven
      run: |

        mvn -U -B -D"maven.test.failure.ignore=true" deploy
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        files: "**/target/surefire-reports/*.xml"
    - uses: MMProgrami/after-maven-action@v2


    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
#    - name: Update dependency graph
 #     uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
