---
name: release
run-name: Creating release by ${{ github.actor }} on ${{ github.ref_name }}
on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    env:
      MAVEN_ARGS: '--no-transfer-progress'
    if: startsWith(github.ref, 'refs/heads/REL-')
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          cache: maven
          server-id: github
          server-username: GITHUB_USERNAME
          server-password: GITHUB_TOKEN
      - uses: oleksiyrudenko/gha-git-credentials@v2.1.2
        with:
          global: true
          name: 'github'
          email: 'poms@mmprogrami.nl'
          token: '${{ secrets.GITHUB_TOKEN  }}'
      - name: Prepare / Perform Release
        run: |
          mvn   -U --batch-mode  -Darguments=-DskipTests  -Pdeploy release:prepare release:perform
        env:
          GITHUB_USERNAME: git
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


